<%= form_for branch do |f| %>		
	<%= render 'shared/error_messages', :target => branch %>
	<%= render 'branch_fields', :f => f, :branch => branch %>
    <p class='button'> <%= f.submit %> </p>
<% end %>