<% if f.object.new_record?
		yid = current_year.id
	else
		yid = f.object.year_id
	end
%>
<%= f.hidden_field :year_id, :value => yid %>
<table>
    <tbody>	
		<tr>
			<td><%= f.label :name %></td>
			<td><%= f.text_field :name, :size => 15 %></td>
		</tr>
	</tbody>
</table>	
 
 
	