<%= form_for clazz do |f| %>		
	<%= render 'shared/error_messages', :target => clazz %>	  
	<%= render 'clazz_fields', :f => f, :clazz => clazz %>
    <p class='button'> <%= f.submit %> </p>
<% end %>