<div id="main-column">
	User profile branch: <%= current_profile.branch.name%>
	<h1><%= @clazz.name %> </h1><br>
	<%= @clazz.branch.name %>
	<p>
		<%= link_to "Edit this Class", edit_clazz_path(@clazz) %>
	</p>
</div>

	

