<%= form_for faculty do |f| %>		
	<%= render 'shared/error_messages', :target => faculty %>	  
	<%= render 'faculty_fields', :f => f, :faculty => faculty %>
    <p class='button'> <%= f.submit %> </p>
<% end %>