<%= form_for resource do |f| %>		
	<%= render 'shared/error_messages', :target => resource %>
	<%= render 'resource_fields', :f => f, :resource => resource %>
    <p class='button'> <%= f.submit %> </p>
<% end %>