/*   Styles for section marks performance */
table, th, td {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.bg-grade1 {
	background: #00CC00;
}

.bg-grade2 {
	background: #003333;
}

.bg-grade3 {
	background: #6699FF;
}

.bg-grade4 {
	background: #990000;
}

.bg-grade5 {
	background: #993453;
}

.bg-grade6 {
	background: #A2D349;
}

.bg-grade7 {
	background: #9DEF12;
}

.bg-grade8 {
	background: #CDEF12;
}

.section-marks-report {
	width: 90%;
	margin: 0 auto;
	border: 1px solid #ccc;
	padding: 10px;
}

.section-marks-report table {
	border-spacing: 0px;
	border-collapse: collapse;
	font-size: 14px;
}

.section-marks-report table td {
	border-bottom: 1px solid #ccc;
	height: 26px;
}
	
.section-marks-report .total-marks-report {
	float: left;
}

.section-marks-report span.total, .section-marks-report span.mark {
	color: white;
	margin: 0px 0px 0px 2px;
	text-align: center;
	display: block;
	width: 1.5em;
	border: 1px solid #ccc;
	font-weight: bold;
}

.section-marks-report span.total {
	border-radius: 3px;
	padding: 1px 4px;
}

.section-marks-report span.mark {
	border-radius: 50%;
	padding: 2px;
}

.section-marks-report .name {
	color: black;
}

.section-marks-report span.title {
	display: block;
	text-align: center;
}

.section-marks-report .subject-marks-report {
	float: left;
	margin-left: 25px;
}

.desc {
	font-size: 10px;
	font-weight: normal;
}

.section-marks-report table span.sparklines {
	display:block;
	text-align: center;
}

.clearfloat {
	clear: both;
}